.projects {
    background: #34547A;
    height: 250px;
    
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    display: flex;
    align-items: center;
    margin-right: 49px;
}
.project-text {
    color: white;
    font-size: 16px;
    margin-left: 20px;
}
.project-icon {
    height: 50px;
    width: 46.67px;
}

@media screen and (max-width: 360px) {
    .projects{
        justify-content: space-around;
    }
    .project {
        margin: 0;
    }
}